@page
@model AutoEscolaPeDeChumbo.Pages.Funcionarios.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1 style="color: rebeccapurple">Detalhes</h1>

<div>
    <h4 style="color: rebeccapurple">Funcionario</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Funcionario.funcionario)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Funcionario.funcionario)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Funcionario.cpf)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Funcionario.cpf)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Funcionario.idade)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Funcionario.idade)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Funcionario.dependentes)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Funcionario.dependentes)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Funcionario.salBruto)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Funcionario.salBruto)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Funcionario.cargo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Funcionario.cargo)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Funcionario.ID">Editar</a> |
    <a asp-page="./Index">Voltar para Lista</a>
</div>
