@page
@model AutoEscolaPeDeChumbo.Pages.Alunos.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1 style="color: rebeccapurple">Detalhes</h1>

<div>
    <h4 style="color: rebeccapurple">Aluno</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Aluno.funcionario)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Aluno.funcionario)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Aluno.cpf)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Aluno.cpf)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Aluno.idade)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Aluno.idade)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Aluno.saldo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Aluno.saldo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Aluno.possuiCNH)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Aluno.possuiCNH)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Aluno.ID">Editar</a> |
    <a asp-page="./Index">Voltar para Lista</a>
</div>
